body {
	background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4 )
}
.wrapper {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #262626;
	padding: 50px;
	color: #fff;
	border-radius: 20px;
	text-align: center;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 10%;
	border-radius: 20px;
}
input[type="text"] {
	height: 40px;
	border-radius: 20px;
	margin: 5px 0;
	font-size: 24px;
	width:72.5%;
	box-sizing: border-box;
	/*width: calc(100% - 50px); /* Ajusta a largura para alinhar com os botões */
     /* Garante que o padding e border sejam incluídos na largura total */
	
}
button {
	background: #EE4477;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	border-radius: 20px;
	text-transform: uppercase;
	font-family: poppins;
	letter-spacing: 2px;
	font-weight: bold;
	cursor: pointer;
	margin: 5px;
}

button:hover {
    background-color: #500909;
    color: #fff;
}

button:focus {
	background-color: #2ab53a
    ;
    color: #fff;
}
